/* Seller Home Styles */

/* Sidebar styles */
.seller-sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Hidden initially */
  width: 250px;
  height: 100%;
  background-color: #2d3748; /* Updated color */
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease; /* Transition for smooth slide-in effect */
  z-index: 1000;
}

.seller-sidebar.open {
  left: 0; /* Slide in when sidebar is open */
}

.sidebar-content {
  margin-bottom: 20px;
}

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold; /* Matching the bold style */
}

.sidebar-nav .nav-item {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
}

.sidebar-nav .nav-item:hover {
  color: #ddd;
}

/* Main content styles */
.seller-main {
  margin-left: 0;
  transition: margin-left 0.3s ease; /* Smooth transition for content shift */
  background-color: #f7fafc; /* Updated background color */
}

.seller-home-div.sidebar-open .seller-main {
  margin-left: 250px; /* Shift content to the right when sidebar is open */
}

/* Header */
.seller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2d3748; /* Updated background color */
  color: white; /* Updated text color */
  border-bottom: 1px solid #e2e8f0; /* Updated border color */
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.seller-welcome {
  font-size: 1.2em;
  color: #eeeeee; /* Updated color */
}

/* Items styles */
.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.item-card {
  background-color: white;
  border: 1px solid #e2e8f0; /* Updated border color */
  border-radius: 0.5rem; /* Updated border radius */
  padding: 10px;
  width: calc(25.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.item-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover effect for item card */
}

.item-image {
  width: 100%;
  height: 200px;
  /* object-fit: cover; */
  object-fit: contain;
}

.item-content {
  margin-top: 10px;
}

.item-title {
  font-size: 1.2em;
  font-weight: 600; /* Updated font weight */
  color: #2d3748; /* Updated text color */
  margin-bottom: 5px;
}

.item-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #4a5568; /* Updated price text color */
}

.qwe{
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-item-button {
  text-decoration: none;
  color: #3182ce; /* Updated button color */
  background-color: transparent;
}

.view-item-button:hover {
  text-decoration: underline;
  color: #2b6cb0; /* Updated hover color */
}
